doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/cart.css')
  body
    include ../navbar.pug
    h1(class='title') Your payment methods
    if paymentMethods.length > 0
      ul(class='payment_list')
        each paymentMethod in paymentMethods
          li(class='payment')
            p(class='card_number') Card Number: #{paymentMethod.cc_no}
    else
      p(class='empty') No payment methods registered.
      a.link(href="/payment/create") Add new payment method