doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/register.css')
  body
    include ../navbar.pug
    h1 My User Logs
    if user
        ul
        each log in logs
            li #{log.action} - #{log.date}