doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/register.css')
  body
    h1 Your order has been placed

    p Click <a href="/">here</a> to return to the home page