doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/register.css')
  body
    include ../navbar.pug
    h1 Your order has been placed
    p Now click <a href="/shipment/create">here</a> to add your shipping details