doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='//stylesheets/cart.css')
  body
    include ../navbar.pug
    h1 Thank you for your order
    //how can order be placed without an address

    //take shipment information like how cart take
    //thank you for your order
    //order completion, summary of shipping detail and payment detail