body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #333;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    justify-content: center; 
    margin-right: 10px;
}

.product {
    margin-top: 30px;
    text-align: center;
    border: 1px solid #ccc;
    justify-content: center; 
    border-radius: 10px;
    width: 20%; 
    margin-bottom: 20px; 
    box-sizing: border-box;
    padding: 20px;
}

.product-one {
    
    margin-top: 30px;
    text-align: center;
    border: 1px solid #ccc;
    justify-content: center; 
    border-radius: 10px;
    margin-left: 10%;
    width: 80%; 
    margin-bottom: 20px; 
    box-sizing: border-box;
    padding: 20px;
}

.product-button {
    display: flex;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
    padding: 7px;
    cursor: pointer;
}