body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Main content styles */
.content {
  margin-top: 60px; /* Adjusted to accommodate fixed navbar */
  padding: 20px; /* Padding for main content */
  text-align: center; /* Center align content */
}
