doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/register.css')
  body
    include ../navbar.pug
    h1 Add Address
    
    form(method="post")
      label(for="first_name") First Name:
      input(type="text", name="first_name")

      label(for="last_name") Last Name:
      input(type="text", name="last_name")

      label(for="phone_number") Phone Number:
      input(type="number", name="phone_number")

      label(for="address") Address:
      input(type="text", name="address")

      label(for="method") Delivery Method:
        select(name="method")
          option(value="express") Express Shipping
          option(value="standard") Standard Shipping

      input(type="submit", value="Save Address")


    if errors
      ul
        for error in errors
          li= error.msg


//if customer already have address -> display address (update + delete button)
//else -> add address page
//if customer have no existed address -> payment: display add address
//else -> update address

//after all address and payment: show summary page of both payment and address